<mat-drawer-container class="menuLateral" autosize>

  <mat-drawer #drawer class="container-menuLateral" mode="side">

    <button mat-icon-button matTooltip="RPGs" class="botaosMenuLateral" (click)="onRPG()">
      <mat-icon>sports_esports</mat-icon>
    </button>

    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip="Fichas" class="botaosMenuLateral" (click)="onFichas()">
      <mat-icon>account_box</mat-icon>
    </button>

    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip="Dados" class="botaosMenuLateral" (click)="onDados()">
      <mat-icon>analytics</mat-icon>
    </button>

    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip="Amigos" class="botaosMenuLateral" (click)="onAmigos()">
      <mat-icon>group</mat-icon>
    </button>

    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip="Avaliação" class="botaosMenuLateral" (click)="onRate()">
      <mat-icon>star_rate_half</mat-icon>
    </button>

  </mat-drawer>

  <mat-toolbar style="background-color: rgb(75, 0, 75); color: whitesmoke; width: 100%;">
    <button type="button" mat-icon-button class="menuBotao" aria-label="Botao de menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>RPG TOOL</span>

    <div style="position: relative; left: 80%; width: 100px;">
      <button type="button" mat-icon-button class="botoes" aria-label="Botao de configurações" (click)="onConfig()" mat-raised-button>
        <mat-icon>settings</mat-icon>
      </button>
  
      <button type="button" mat-icon-button class="botoes" aria-label="Botao de perfil" (click)="onPerfil()" mat-raised-button>
        <mat-icon>account_circle</mat-icon>
      </button>
  
      <button type="button" mat-icon-button class="botoes" aria-label="Botao de menu" (click)="onLogout()" mat-raised-button>
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </mat-toolbar>

</mat-drawer-container>

<router-outlet></router-outlet>
